// .picTable {
//   :global {
//     .ant-form-item-label {
//       flex: 0 0 100px !important;
//     }
//   }

// }

.compared {
  img {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
}

.comparedBottom {
  .bottomImgList {
    height: 200px;
  }

  :global {
    .ant-tabs-tab {
      img {
        height: 200px;
      }
    }

    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations {
      display: none;
    }
  }
}
